@{
    ViewBag.Title = "Kontakta mig";
}
<h2>@ViewBag.Title</h2>


<address>
    Bo Leanderson<br />
    Ättehögsvägen 17, 33133 Värnamo<br />
    <abbr title="Phone">P:</abbr>
    070-6103361
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">leandersonbo@gmail.com</a><br />
    <strong>Marknadsföring:</strong> <a href="mailto:Marketing@example.com">leandersonbo@gmail.com</a><br />
    <strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/bo-leanderson-87221457/">LinkedIn </a><br />
    <strong></strong><br />
</address>