@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Linas filmer</h1>
    <p class="lead">Denna app är en lista över Linas många filmer</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Netflix</h2>
        <p>Lina är inte jätteförtjust i Netflix. Jag förstår henne, den svenska versionen lämnar en stor lucka i sitt utbud
        </p>
        <p><a class="btn btn-default" href="http://www.netflix.se">Netflix &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Viaplay</h2>
        <p>Viaplay har använts för att både se gratisfilmer och hyra filmer</p>
        <p><a class="btn btn-default" href="http://www.viaplay.se">Viaplay &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>YouTube</h2>
        <p>Lina gillar att köpa och hyra filmer på YouTube, så här har vi en direktlänk</p>
        <p><a class="btn btn-default" href="http://www.youtube.se">YouTube &raquo;</a></p>
    </div>
</div>